<div class="nav-layout-sidebar-skip">
    <strong>Tab Navigation</strong> / <a href="#settings-content">Skip to Content</a>
</div>
<ul id="myTab" class="nav nav-layout-sidebar nav-stacked">
    <li class="active">
        <a href="" ng-click="loadContent(templates[0])" data-toggle="tab">
            <i class="fa fa-user"></i>
            &nbsp;&nbsp;Function Type
        </a>
    </li>
    <li>
        <a href="" ng-click="loadContent(templates[1])" data-toggle="tab">
            <i class="fa fa-lock"></i>
            &nbsp;&nbsp;Function List
        </a>
    </li>
    <li>
        <a href="" ng-click="loadContent(templates[2])" data-toggle="tab">
            <i class="fa fa-bullhorn"></i>
            &nbsp;&nbsp;Role
        </a>
    </li>
    <li>
        <a href="" ng-click="loadContent(templates[3])" data-toggle="tab">
            <i class="fa fa-dollar"></i>
            &nbsp;&nbsp;Organization
        </a>
    </li>
    <li>
        <a href="" ng-click="loadContent(templates[4])" data-toggle="tab">
            <i class="fa fa-signal"></i>
            &nbsp;&nbsp;Application
        </a>
    </li>
</ul>