<div class="modal-header">
    <h3 class="modal-title">Add Image Collection</h3>
</div>
<div class="modal-body">

    <input type="file" file-upload multiple accept="image/*" class="btn btn-warning" />

    <br />

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>File Name</th>
                <th>File Type</th>
                <th>File Size</th>
                <!--<th>Status</th>-->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="file in fileList">

                <td>{{file.name}}</td>
                <td>{{file.type}}</td>
                <td>{{file.size}}</td>
                <!--<td>
                    <div id="{{'P'+$index}}">

                    </div>
                </td>-->
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>